*{
    margin: 0;
    padding: 0;
}

.main-container {
    background-color: #CEB586;
}

header {
    text-align: center;
}

h1 {
    color: #CEB586;
    font-size: 50px;
    background-color: black;
    padding-top: 1%;
    padding-bottom: 1%;
}

nav {
    text-align: center;
    padding-bottom: 0.25%;
    padding-top: 0.15%;
}

li {
    display: inline;
}

.central-container {
    background-color: #141312;
}

footer {
    background-color: black;
    color: #CEB586 ;
    text-align: center;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 1%;
}

form {
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
}

select {
    padding: 0.5%;
    background-color: #CEB586;
}

input {
    padding: 0.5%;
    background-color: #CEB586;
    margin-left: 1%;
}

a {
    color: black;
}

table, th, td {
    border: 2px solid #CEB586;
    color: #CEB586;
}

th {
    padding: 2%;
    font-size: 18px;
}

td {
    padding: 1%;
    color: #CEB586;
}
table {
    width: 80%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}
html{
}
.table-container {
    padding-bottom: 1%;
}